- var title = "Your Bookings for "+event.name;

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			h2(class="ui header")= title
				div(class="sub header")= ticket.name
			if ("success" in query)
				div(class="ui positive icon message")
					i(class="close icon")
					i(class="ticket icon")
					div(class="content")
						div(class="header") Booking Successful!
						p You can update the preferences for your bookings below.
				script.
					$('.message .close').on('click', function() {
						$(this).closest('.message').transition('fade');
					});

			div(class="ui vertical segment"): div(class="ui styled fluid accordion")
				each booking in bookings
					if (booking.username)
						div(class=(booking.username==user.username)?"active title":"title")
							i(class="dropdown icon")
							= booking.username
					else
						div(class="title")
							i(class="dropdown icon")
							=booking.guestname
					div(class=(booking.username==user.username)?"active content":"content")
						if (new Date(ticket.close_booking) > new Date())
							p You can update your preferences until booking closes.
							form(class="ui form" method="POST" action="/events/"+booking.id)
								each option in ticket.options
									div(class="field")
										label= option.name
										select(name="choices[]" class="ui dropdown")
											- var selected = false;
											each choice in option.choices
												if (booking.choices.indexOf(choice.id) != -1)
													- selected = true;
													option(value=choice.id selected)= choice.name + " [£"+(choice.price/100).toFixed(2)+"]"
												else
													option(value=choice.id)= choice.name + " [£"+(choice.price/100).toFixed(2)+"]"
											if (!selected)
												option(value="" selected) None Selected
								div(class="field")
									label Notes (e.g. Dietary preferences)
									textarea(name="notes" rows=3)=booking.notes
								input(name="event_id" value=event.id hidden)
								button(class="ui submit button" type="submit") Save

						else
							- var total = 0;
							table(class="ui striped table")
								thead
									tr
										th Description
										th Price
								tbody
									tr
										td= ticket.name
										- total += ticket.price
										- total += (booking.username) ? 0 : ticket.guest_surcharge
										td= "£"+(total/100).toFixed(2)
									each option in ticket.options
										tr
											- var selected = false;
											each choice in option.choices
												if (booking.choices.indexOf(choice.id) != -1)
													- selected = true;
													td= option.name+": "+choice.name
													td= "£"+(choice.price/100).toFixed(2)
													- total += choice.price
											if (!selected)
												td= option.name + ": None Selected"
												td £0.00
								tfoot
									tr 
										th(class="right aligned") Total
										th= "£"+(total/100).toFixed(2)
							if (booking.notes)
								p= "Notes: "+booking.notes

			script.
				$('.ui.accordion').accordion();
				$('.ui.dropdown').dropdown();

		include ../footer.jade
