- var title = event.name

doctype html
html
	head
		include ../head.jade
		script(src="/javascripts/countdown.js")
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			h2(class="ui header")
				if (event.image)
					img(class="ui image" src="/images/events/"+event.image)
				div(class="content")
					= event.name
					div(class="sub header")= event.time.toDateString()
			div(class="ui vertical segment")!= event.description
			if (user)
				each ticket in tickets
					div(class="ui vertical segment")
						h3= ticket.name
						if (ticket.bookings && ticket.bookings.length > 0)
							a(class="ui button" href="/events/"+event.time.getFullYear()+"/"+(event.time.getMonth()+1)+"/"+(event.time.getDate())+"/"+event.slug+"/"+ticket.id+"/booking") Your Booking
						if (ticket.close_sales < (new Date()))
							p Booking is now closed.
						else if (ticket.sold == ticket.stock)
							p Tickets have sold out.
						else if (ticket.time_to_open > 0)
							p Booking opens in: <br/>
								span(class="countdown" data-seconds=Math.floor(ticket.time_to_open))
							a(class="ui primary transition hidden booking button" href="/events/"+event.id+"/"+ticket.id+"/book" ) Book Now!
							script.
								$(".countdown").kkcountdown({
									dayText: ' day, ',
									daysText: ' days, ',
									hoursText: ' hours, ',
									minutesText: ' minutes and ',
									secondsText: ' seconds!',
									displayDays : true,
									displayZeroDays : true,
									callback: function() {
										$('.countdown').parent().transition('fade out', function(){
											$('.booking.button').transition('fade in');
										});
									}
								});
						else if (ticket.stock - ticket.sold <= Math.max(ticket.stock/10,15))
							a(class="ui labeled button" href="/events/"+event.id+"/"+ticket.id+"/book")
								div(class="ui primary button" )
									i(class="ticket icon")
									| Buy Ticket
								span(class="ui basic left pointing red label")= (ticket.stock - ticket.sold)+" left!"
						else
							a(class="ui primary button" href="/events/"+event.id+"/"+ticket.id+"/book")
								i(class="ticket icon")
								| Buy Ticket
		include ../footer.jade
