- var title = 'Elections'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			include ./menu.jade
			h2= title
			div(class="ui vertical segment")
				h3 Create a new election
				form(class="ui form" method="POST" action="")
					div(class="field")
						label Name
						input(type="text" name="name")
					button(type="submit" class="ui submit button")
						i(class="write icon")
						| Create
					div(class="ui error message")

				script.
					$('.form').form({
						fields: {
							name: 'empty',
						}
					});

			div(class="ui vertical segment")
				h3 Open Elections

				table(class="ui striped table")
					thead
						tr
							th Name
							th Actions
					tbody
						each election in open
							tr
								td= election.name
								td
									div(class=(election.status==0)?"ui floating icon dropdown button":"ui floating icon disabled dropdown button" )
										i(class="file text outline icon")
										span(class="text") Results
										div(class="menu")
											each position in election.positions
												a(class="item" href="/admin/elections/"+election.id+"/"+position.id+"/results")= position.name
									a(class="ui button" href="/admin/elections/"+election.id)
										i(class="edit icon")
										| Edit
									a(class="ui negative button" href="/admin/elections/"+election.id+"/delete" onclick="return confirm('Are you sure you want to delete this election?');")
										i(class="remove icon")
										| Delete

						script.
							$('.dropdown').dropdown();
							
			div(class="ui vertical segment")
				h3 Publicizing Elections

				table(class="ui striped table")
					thead
						tr
							th Name
							th Actions
					tbody
						each election in publicizing
							tr
								td= election.name
								td
									div(class=(election.status==0)?"ui floating icon dropdown button":"ui floating icon disabled dropdown button" )
										i(class="file text outline icon")
										span(class="text") Results
										div(class="menu")
											each position in election.positions
												a(class="item" href="/admin/elections/"+election.id+"/"+position.id+"/results")= position.name
									a(class="ui button" href="/admin/elections/"+election.id)
										i(class="edit icon")
										| Edit
									a(class="ui negative button" href="/admin/elections/"+election.id+"/delete" onclick="return confirm('Are you sure you want to delete this election?');")
										i(class="remove icon")
										| Delete

						script.
							$('.dropdown').dropdown();

			div(class="ui vertical segment")
				h3 Closed Elections

				table(class="ui striped table")
					thead
						tr
							th Name
							th Actions
					tbody
						each election in closed
							tr
								td= election.name
								td
									div(class=(election.status==0)?"ui floating icon dropdown button":"ui floating icon disabled dropdown button" )
										i(class="file text outline icon")
										span(class="text") Results
										div(class="menu")
											each position in election.positions
												a(class="item" href="/admin/elections/"+election.id+"/"+position.id+"/results")= position.name
									a(class="ui button" href="/admin/elections/"+election.id)
										i(class="edit icon")
										| Edit
									a(class="ui negative button" href="/admin/elections/"+election.id+"/delete" onclick="return confirm('Are you sure you want to delete this election?');")
										i(class="remove icon")
										| Delete

						script.
							$('.dropdown').dropdown();
