- var title = room.name+' Bookings'

doctype html
html
	head
		include ./head.pug
	body
		div(class='ui container')
			include ./header.pug
			include ./menu.pug
			h2= title
			div(class="ui vertical segment")
				h3 Pending Bookings
				table(class="ui fixed table")
					thead
						tr
							th Name
							th Username
							th Start
							th Duration
							th Actions
					tbody
						each booking in pending_bookings
							tr
								td= booking.name
								td= booking.username
								td= booking.start_time
								td= booking.duration
								td
									div(class="ui buttons")
										a(class="ui positive button" href="/admin/rooms/"+room.id+"/bookings/"+booking.id+"/accept")
											i(class="check icon")
											| Accept
										a(class="ui negative button" href="/admin/rooms/"+room.id+"/bookings/"+booking.id+"/reject")
											i(class="remove icon")
											| Reject

			div(class="ui vertical segment")
				h3 Accepted Bookings
				table(class="ui fixed table")
					thead
						tr
							th Name
							th Username
							th Start
							th Duration
							th Actions
					tbody
						each booking in accepted_bookings
							tr
								td= booking.name
								td= booking.username
								td= booking.start_time
								td= booking.duration
								td
									a(class="ui button" href="/admin/rooms/"+room.id+"/bookings/"+booking.id+"/revert")
										i(class="undo icon")
										| Revert to Pending

			div(class="ui vertical segment")
				h3 Rejected Bookings
				table(class="ui fixed table")
					thead
						tr
							th Name
							th Username
							th Start
							th Duration
							th Actions
					tbody
						each booking in rejected_bookings
							tr
								td= booking.name
								td= booking.username
								td= booking.start_time
								td= booking.duration
								td
									a(class="ui button" href="/admin/rooms/"+room.id+"/bookings/"+booking.id+"/revert")
										i(class="undo icon")
										| Revert to Pending
