- var title = 'Tickets'

doctype html
html
	head
		include ./head.jade
	body
		div(class='ui container')
			include ./header.jade
			include ./menu.jade
			h2= title
			div(class="ui vertical segment")
				h3 Edit a Ticket
				form(class="ui edit form" method="POST" action="/admin/tickets/"+ticket.id)
					div(class="field")
						label Name
						input(type="text" name="name" value=ticket.name)
					div(class="two fields")
						div(class="field")
							label Min Size Booking
							input(type="text" name="min_booking" value=ticket.min_booking)
						div(class="field")
							label Max Size Booking
							input(type="text" name="max_booking" value=ticket.max_booking)
					div(class="three fields")
						div(class="field")
							div(class="ui checkbox")
								if (ticket.block_debtors)
									input(type="checkbox" name="block_debtors" tabindex="0" checked)
								else
									input(type="checkbox" name="block_debtors" tabindex="0")
								label Block Debtors
						div(class="field")
							div(class="ui checkbox")
								if (ticket.guests)
									input(type="checkbox" name="guests" tabindex="0" checked)
								else
									input(type="checkbox" name="guests" tabindex="0")
								label Allow Guests
						div(class="inline field")
							label Guest Surcharge
							input(type="text" name="guest_surcharge" value=(ticket.guest_surcharge/100).toFixed(2))
					div(class="two fields")
						div(class="field")
							label Stock
							input(type="text" name="stock" value=ticket.stock)
						div(class="field")
							label Price
							input(type="text" name="price" value=(ticket.price/100).toFixed())
					div(class="two fields")
						label Open Booking
						div(class="field")
							label Date
							input(type="text" name="open_sales_date" value=ticket.open_sales.getDate() + "-"+(ticket.open_sales.getMonth() + 1)+"-"+ticket.open_sales.getFullYear())
						div(class="field")
							label Time
							input(type="text" name="open_sales_time" value=("0"+ticket.open_sales.getHours()).slice(-2)+":"+("0"+ticket.open_sales.getMinutes()).slice(-2))
					div(class="two fields")
						label Close Booking
						div(class="field")
							label Date
							input(type="text" name="close_sales_date" value=ticket.close_sales.getDate() + "-"+(ticket.close_sales.getMonth() + 1)+"-"+ticket.close_sales.getFullYear())
						div(class="field")
							label Time
							input(type="text" name="close_sales_time" value=("0"+ticket.close_sales.getHours()).slice(-2)+":"+("0"+ticket.close_sales.getMinutes()).slice(-2))
				
					button(type="submit" class="ui submit button") 
						i(class="save icon")
						| Save
					div(class="ui error message")

			div(class="ui vertical segment")
				h3 Edit Options
				each option in options
					form(class="ui editoption form" method="POST" action="/admin/tickets/"+ticket.id+"/"+option.id)
						div(class="field")
							label Option Name
							input(type="text" name="name" value=option.name)
						if (option.choices)
							each choice in option.choices
								input(type="text" name="choice["+choice.id+"][id]" value=choice.id hidden)
								div(class="two fields")
									div(class="field")
										label Choice Name
										input(type="text" name="choice["+choice.id+"][name]" value=choice.name)
									div(class="field")
										label Choice Price
										input(type="text" name="choice["+choice.id+"][price]" value=(choice.price/100).toFixed(2))
						div(class="two fields")
								div(class="field")
									label New Choice Name
									input(type="text" name="newchoice[name]")
								div(class="field")
									label New Choice Price
									input(type="text" name="newchoice[price]")
						button(class="ui submit button" type="submit")
							i(class="save icon")
							| Save

			div(class="ui vertical segment")
				h3 Add an option
				form(class="ui addoption form" method="POST" action="/admin/tickets/"+ticket.id+"/addoption")
					div(class="field")
						label Add a new option
						input(type="text" name="name")
					button(class="ui submit button")
						i(class="plus icon")
						| Add


			script.
				$('.edit.form').form({
					fields: {
						name: 'empty',
						min_booking: 'integer',
						max_booking: 'integer',
						stock: 'integer',
						open_sales_date: 'regExp[/(0?[1-9]|[12][0-9]|3[01])[-](0?[1-9]|1[0-2])[-](19|20|21)[0-9]{2}/ig]',
						open_sales_time: 'regExp[/([01]?[0-9]|2[0-3]):[0-5][0-9]/ig]',
						close_sales_date: 'regExp[/(0?[1-9]|[12][0-9]|3[01])[-](0?[1-9]|1[0-2])[-](19|20|21)[0-9]{2}/ig]',
						close_sales_time: 'regExp[/([01]?[0-9]|2[0-3]):[0-5][0-9]/ig]'
					}
				});

				$('.addoption.form').form({
					fields: {
						name: 'empty'
					}
				});