- var title = 'Tech'

doctype html
html
	head
	include ../head.pug
	body
	div(id="main-menu" data-username=(user && user.username))
	div(class='ui container')
	  h2(class="ui header")= title
	  p
		| The Technical Managers are responsible for all of the technical equipment
		| in the JCR (Lighting, Audio, Staging, Power ..etc) as well as managing
		| technical side of the 
		| <a href="https://greyjcr.com/files/uploaded/k-events-IRINi.doc">JCR events</a>

	  p
		| The Technical Committee run the events throughout the year and anyone
		| is welcome to join – whatever the level of experience you have.

	  div(class="ui vertical segment")
		h3(class="ui header") Equipment Hire & Events
		p
		  | We also hire out our equipment! Equipment can be hired for a variety
		  | of events, such as socials, other colleges events, theatre productions, 
		  | or private events. You can see the list of equipment our and their 
		  | respective hire prices at 
		  | <a href="https://durhamtech.org.uk/grey" target="_blank">durhamtech.org.uk/grey</a>
		  | Or, if you are unsure please use the Google Form at the bottom of 
		  | the page.
		p
		  | Grey JCR sports and societies can hire equipment for free.
		p
		  | <a href="https://greyjcr.com/files/uploaded/k-events-IRINi.doc">Grey JCR events</a>
		  | have priority for equipment once the event date and technical
		  | requirements from the event organiser have been confirmed, unless
		  | a paid hire has already been agreed. A minimum of 3 weeks’ notice
		  | must be given for internal events to ensure that equipment and crew
		  | can be organised. It is recommended that you contact us at the
		  | earliest point to ensure your event runs smoothly.
		p
		  | If you have any queries, feel free to contact us.

	  div(class="ui vertical segment")
		iframe(width="100%" 
		  height="800" 
		  src="https://docs.google.com/forms/d/e/1FAIpQLSdUX8G1jD5k0fKTNdLDGlrcdM99jKeVqBD2Xw881WUzSiAgJQ/viewform?embedded=true" 
		  frameborder="0" 
		  marginheight="15px" 
		  marginwidth="0" 
		  style="margin-top: 15px;")= 'Loading form...'
	  
	  div(class="ui vertical segment")
		div(class="ui seven doubling link cards")
		  if tech
			each user in tech.users
			  div(class="card" data-role=tech.id)
				div(class="image")
				  img(src="/api/users/"+user.username+"/avatar")
				div(class="content")
				  div(class="header")= tech.title
				  div(class="meta")=user.name
	  
	div(class="ui modal")
	  div(class="header") No Position
	  div(class="content")
		p No description
	  div(class="actions")
		div(class="ui ok button") Done

	script.
	  $(".card").click(function (e) {
		e.preventDefault();
		var role_id = $(this).attr('data-role');
		$.get('/api/roles/'+role_id, function (data) {
		  $('.ui.modal .header').text(data.title);
		  $('.ui.modal .content').text(data.description);
		  $('.ui.modal').modal('show');
		});
	  });

	include ../footer.pug
