- var title = 'Tech'

doctype html
html
	head
	include ../head.pug
	body
	div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
	div(class='ui container')
		h2(class="ui header")= title
		p
			| The Technical Manager is responsible for all of the technical equipment
			| in the JCR (Lighting, Audio, Staging, Power ..etc) as well as managing
			| the technical side of 
			| <a href="https://greyjcr.com/files/uploaded/k-events-IRINi.doc">JCR events</a>

		p
			| The Technical Crew run tech for events throughout the year and any JCR member
			| is welcome to join – whatever their level of technical experience. Crew members are paid for events that they work.

		div(class="ui vertical segment")
			h3(class="ui header") Internal Events
			p
				| We also offer technical setups for Open Mic Nights & Karaoke evenings after formals. Please give a minimum of 3 weeks notice for such an 
				| event so that approval can be obtained with college and a schedule for the technical crew can be arranged. If interested in booking, please contact us at: <a href="mailto:grey.tech@durham.ac.uk">grey.tech@durham.ac.uk</a>
		div(class="ui vertical segment")
			h3(class="ui header") Equipment Hire
			p
				| We also hire out our equipment! Equipment can be hired for a variety
				| of events, so please get in touch using the form below, or <a href="mailto:grey.tech@durham.ac.uk">by email</a>, to enquire. 
			p
			p(style="text-align:center;")
				| <strong>A list of the tech available to hire can be found <a href="https://durhamtech.org.uk/grey">here</a>.</strong>
			p
			p
				| Grey JCR sports and societies can hire equipment for free.
			p
				| <a href="https://greyjcr.com/files/uploaded/k-events-IRINi.doc">Grey JCR events</a>
				| have priority for equipment once the event date and technical
				| requirements have been confirmed with the event organiser, unless
				| a paid hire has already been agreed. It is recommended that you contact us at the
				| earliest opportunity to ensure your event runs smoothly.
			p
				| If you have any queries, feel free to <a href="mailto:grey.tech@durham.ac.uk">contact the Tech Manager</a>.

		div(class="ui vertical segment")
			iframe(width="100%"
				height="800"
				src="https://docs.google.com/forms/d/e/1FAIpQLSdUX8G1jD5k0fKTNdLDGlrcdM99jKeVqBD2Xw881WUzSiAgJQ/viewform?embedded=true"
				frameborder="0"
				marginheight="15px"
				marginwidth="0"
				style="margin-top: 15px;")= 'Loading form...'

		div(class="ui vertical segment")
			div(class="ui seven doubling link cards")
				if tech
					each user in tech.users
						div(class="card" data-role=tech.id)
							div(class="image")
								img(src="/api/users/"+user.username+"/avatar")
							div(class="content")
								div(class="header")= tech.title
								div(class="meta")=user.name

	div(class="ui modal")
		div(class="header") No Position
		div(class="content")


	script.
		$(".card").click(function (e) {
			e.preventDefault();
			var role_id = $(this).attr('data-role');
			$.get('/api/roles/'+role_id, function (data) {
				$('.ui.modal .header').text(data.title);
				$('.ui.modal .content').text(data.description);
				$('.ui.modal').modal('show');
			});
		});

	include ../footer.pug
