- var title = 'Feedback'

doctype html
html
	head
		include ./head.pug
	body
		div(class='ui container')
			include ./header.pug
			include ./menu.pug
			h2= title
			h3(class="ui header")
				img(src=(!feedback.anonymous) ? "/api/users/"+feedback.author.username+"/avatar" : "/api/users/anon/avatar" class="ui circular image")
				div(class="content")
					= feedback.title
					if (feedback.anonymous)
						div(class="sub header") Anonymous
					else
						div(class="sub header")= feedback.author.name
			p= feedback.message
			div(class="ui comments")
				each reply in replies
					div(class="comment")
						span(class="avatar")
							img(src=(!feedback.anonymous || reply.exec) ? "/api/users/"+reply.author.username+"/avatar" : "/api/users/anon/avatar")
						div(class="content")
							if (reply.exec)
								span(class="author") Exec
							else if (!feedback.anonymous)
								span(class="author")= reply.author.name
							else
								span(class="author") Anonymous
							div(class="metadata")
								div(class="date")= prettydate.format(new Date(reply.created))
							div(class="text")= reply.message

				form(class="ui reply form" method="POST" action="")
					div(class="field")
						textarea(rows="3" name="message")
					button(type="submit" class="ui submit button")
						i(class="reply icon")
						| Reply
			
