- var title = room.name+' Bookings'

doctype html
html
	head
		include ./head.pug
	body
		div(class='ui container')
			include ./header.pug
			include ./menu.pug
			h2= title
			div(class="ui vertical segment")
				h3 Add Booking
				form(class="ui form" method="POST" action="/admin/rooms/"+room.id+"/bookings")
					div(class="field")
						label Name
						input(type="text" name="name")
					div(class="three fields")
						div(class="field")
							label Date
							input(type="text" name="date" value=(new Date()).getDate() + "-"+((new Date()).getMonth() + 1)+"-"+(new Date()).getFullYear())
						div(class="field")
							label Start Time
							select(class="ui dropdown" name="start")
								- for (i=18; i<44; i++)
									option(value=Math.floor(i/2) + ':' + ("0"+(i%2 * 30)).slice(-2))= Math.floor(i/2) + ':' + ("0"+(i%2 * 30)).slice(-2)
						div(class="field")
							label End Time
							select(class="ui dropdown" name="end")
								- for (i=19; i<45; i++)
									option(value=(i*30))= Math.floor(i/2) + ':' + ("0"+(i%2 * 30)).slice(-2)
					div(class="two fields")
						div(class="field")
							label Repeats
							select(class="ui dropdown" name="repeats")
								option(value=0 selected) None
								option(value=1) Daily
								option(value=7) Weekly
								option(value=14) Fortnightly
						div(class="field")
							label Occurrences
							input(type="number" name="occurrences" value="1")
					button(class="ui submit button" type="submit")
						i(class="write icon")
						| Create
					div(class="ui error message")

				script.
					$(".dropdown").dropdown();
					$('.form').form({
						fields: {
							name: 'empty',
							date: 'regExp[/(0?[1-9]|[12][0-9]|3[01])[-](0?[1-9]|1[0-2])[-](19|20|21)[0-9]{2}/ig]'
						}
					});

			div(class="ui vertical segment")
				h3 Pending Bookings
				table(class="ui fixed table")
					thead
						tr
							th Name
							th Username
							th Start
							th Duration
							th Actions
					tbody
						each booking in pending_bookings
							tr
								td= booking.name
								td= booking.username
								td= booking.start_time
								td= booking.duration
								td
									div(class="ui buttons")
										a(class="ui positive button" href="/admin/rooms/"+room.id+"/bookings/"+booking.id+"/accept")
											i(class="check icon")
											| Accept
										a(class="ui negative button" href="/admin/rooms/"+room.id+"/bookings/"+booking.id+"/reject")
											i(class="remove icon")
											| Reject

			div(class="ui vertical segment")
				h3 Accepted Bookings
				table(class="ui fixed table")
					thead
						tr
							th Name
							th Username
							th Start
							th Duration
							th Actions
					tbody
						each booking in accepted_bookings
							tr
								td= booking.name
								td= booking.username
								td= booking.start_time
								td= booking.duration
								td
									a(class="ui button" href="/admin/rooms/"+room.id+"/bookings/"+booking.id+"/revert")
										i(class="undo icon")
										| Revert to Pending

			div(class="ui vertical segment")
				h3 Rejected Bookings
				table(class="ui fixed table")
					thead
						tr
							th Name
							th Username
							th Start
							th Duration
							th Actions
					tbody
						each booking in rejected_bookings
							tr
								td= booking.name
								td= booking.username
								td= booking.start_time
								td= booking.duration
								td
									a(class="ui button" href="/admin/rooms/"+room.id+"/bookings/"+booking.id+"/revert")
										i(class="undo icon")
										| Revert to Pending
