- var title = event.name

doctype html
html
	head
		include ../head.pug
		script(src="/javascripts/countdown.min.js")
	body
		div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
		div(class='ui container')
			h2(class="ui header")
				if (event.image)
					img(class="ui image" src="/files/events/"+event.image)
				div(class="content")
					= event.name
					div(class="sub header")= event.time.toDateString()
			div(class="ui vertical segment")!= event.description
			if (user)
				each ticket in tickets
					div(class="ui vertical segment")
						h3= ticket.name
						if (ticket.bookings && ticket.bookings.length > 0)
							a(class="ui button" href="/events/"+event.time.getFullYear()+"/"+(event.time.getMonth()+1)+"/"+(event.time.getDate())+"/"+event.slug+"/"+ticket.id+"/booking") Your Booking
						if (ticket.close_booking < (new Date()))
							p Booking is now closed.
						else if (ticket.sold == ticket.stock)
							p Tickets have sold out.
						else if (ticket.open_booking > (new Date()))
							p Booking opens in
								span(data-milliseconds=Math.floor(ticket.open_booking - new Date()))
							a(class="ui primary transition hidden booking button" href="/events/"+event.id+"/"+ticket.id+"/book") Book Now!
						else if (ticket.stock - ticket.sold <= Math.max(ticket.stock/10,15))
							a(class="ui labeled button" href="/events/"+event.id+"/"+ticket.id+"/book")
								div(class="ui primary button" )
									i(class="ticket icon")
									| Buy Ticket
								span(class="ui basic left pointing red label")= (ticket.stock - ticket.sold)+" left!"
						else
							a(class="ui primary button" href="/events/"+event.id+"/"+ticket.id+"/book")
								i(class="ticket icon")
								| Buy Ticket

				script.
					$('[data-milliseconds]').each(function() {
						var $this = $(this);
						var now = new Date();
						var finalDate = new Date(now.getTime() + $(this).data('milliseconds'));
						$this.countdown(finalDate, function(event) {
							$this.html(event.strftime('%-I hour%!I, %-M minute%!M and %-S second%!S'));
						}).on('finish.countdown', function() {
							$this.parent().transition('fade out', function(){
								$this.parent().siblings('.booking.button').transition('fade in');
							});
						});
					});

		include ../footer.pug
