- var title = 'Valentines Swapping'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username))
		div(class='ui container')

			h2 Valentines Formal Swapping
			p Every year, we raise money for charity by allowing members of the JCR to swap around table plans at Valentine's Formal for a small contribution. Anyone can participate, even those not attending formal! If you are in the hot seats (in bold) at the end of swapping, there will be a forfeit... That forfeit will only be told once swapping is closed.

		div(class="ui divided stackable padded grid")
			div(class="twelve wide column")
				div(class="ui two column stackable padded grid")
					each i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
						div(class="column")
							table(class="ui four column compact celled unstackable small center aligned table")
								tbody
									tr
										each j in [0,1,2,3]
											- var position_id = ((i*8)+j)%(pairs.length)
											td(data-position=position_id, data-pair=pairs[position_id].id, class="pair", style=(position_id == 51 || position_id == 56)?"font-weight:bold; border: 1px black solid;":"") 
												span(class="lead")= pairs[position_id].lead
												br
												span(class="partner")= pairs[position_id].partner
												br
												b £
													span(class="price")= (pairs[position_id].value/100).toFixed(2)
									tr
										each j in [4,5,6,7]
											- var position_id = ((i*8)+j)%(pairs.length)
											td(data-position=position_id, data-pair=pairs[position_id].id, class="pair", style=(position_id == 51 || position_id == 56)?"font-weight:bold; border: 1px black solid;":"")
												span(class="lead")= pairs[position_id].lead
												br
												span(class="partner")= pairs[position_id].partner
												br
												b £
													span(class="price")= (pairs[position_id].value/100).toFixed(2)
			div(class="four wide column")
				div(class="ui sticky")
					div(class="ui center aligned  vertical segment")
						if (debt > 0)
							div(class="ui two small statistics")
								div(class="statistic")
									div(class="value" ) £
										span(id="totalRaised")= (total/100).toFixed(2)
									div(class="label") Raised so far
								div(class="statistic")
									div(class="value" ) £
										span(id="balance")= (debt/100).toFixed(2)
									div(class="label") You Owe
						else
							div(class="ui statistic")
								div(class="value" ) £
									span(id="totalRaised")= (total/100).toFixed(2)
								div(class="label") Raised so far

					div(class="ui vertical segment")
						div(class="ui fluid icon input")
							input(type="text" class="search" placeholder="Search by name here...")
							i(class="search icon")
					

					if (swapping_open)
						div(class="ui vertical segment" id="swapping_form")
							div(class="ui header") Make a swap
								i(class="ui help circle green icon" data-title="How it works" data-content="To make a swap, simply select any two pairs and click swap! By clicking swap you are agreeing to donate the higher of the two prices to the Cardiac Risk in the Young.")
							b(id="swapA") Swap a pair
							| <br/>with<br/>
							b(id="swapB") any other pair!
							form(method="POST" action="/events/valentines" id="swapForm")
								input(type="text" name="pairA" id="pairA" hidden)
								input(type="text" name="pairB" id="pairB" hidden)
								button(type="submit" class="ui swap red compact disabled submit button")
									i(class="ui refresh icon")
									| Swap

					div(class="ui vertical segment")
						div(class="ui header") Swap Stream
						div(class="ui feed")
							for swap in swaps
								div(class="event")
									div(class="label"): i(Class="refresh icon")
									div(class="content")
										div(class="date")= swap.created.toLocaleTimeString()
										= swap.paira.lead+" and "+swap.paira.partner
										|  were swapped with 
										= swap.pairb.lead+" and "+swap.pairb.partner

		
		script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.4.5.js")
		script(type="text/javascript", src="/javascripts/valentines.js")

		include ../footer.pug