- var title = 'The JCR'

doctype html
html
	head
		include ../head.pug
	body
		div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
		div(class='ui container')
			h2(class="ui header")= title
			div(class="ui vertical segment" id="about")
				h3(class="ui header") What is the JCR?
				div(class="ui right floated statistic")
					div(class="value") 1000+
					div(class="label") Members
				p For many people Grey College Junior Common Room (JCR) is a large room with a big telly, and whilst technically they are right, JCR also stands for something much more important. Grey College JCR is the community of students that make up the life and soul of Grey College. With over 1000 members, the JCR is a democratic student union run entirely by students for students. The JCR is in charge of its own affairs; its own budgets; its elected officers; and its own events (with some events requiring elected roles as they are such a big task to manage). All Grey undergraduates and postgraduates are members of the JCR and able to vote on all issues, <a href="/facilities">use the JCR’s facilities</a> and get involved in the <a href="/sportsandsocs">wide range of activities</a> that are run by the JCR.
				p Grey JCR is different to many of Durham’s other college JCRs because we are an Independent Charity. Governed by our own Trustee board of four student trustees and four external trustees who oversee the JCR’s legal and financial operation and it’s long-term aims, we are able to freely dictate our running and have full control over what direction we take as a Common Room.
				p The JCR is a fantastic way to help students get them most from their time at Durham and provides our members with opportunities to learn new skills, experience new perspectives and become student leaders in their own right, taking control of their JCR to change it for the better of their fellow students. There are regular JCR meetings which allow JCR members to vote upon matters ranging from the creation of a new club or society, through to the redevelopment of the JCR. In fact, those who are interested can find the minutes from the meetings online, within the Grey JCR website.
				p These meetings also allow for the election of new members to the Executives Committee (Exec for short). These people are dedicated to the running of the college, and representing the JCR. They are voted in by the JCR as either a representative of a certain part of the college for example Freshers Rep, or to take a part in the running of a particular part of the college, Bar manager for instance.  These members meet at Exec meetings to discuss how to run the college, however these meetings can be attended by anyone who wants to stay up to date with JCR info.
				p Whether it’s Sports, Societies, the Arts, taking part in or organising our wide range of events and activities, there is something for everyone at Grey, and incredible people here to experience it with.

			div(class="ui vertical segment" id="exec")
				h3(class="ui header") The Executive Committee
				p The Core Executive, that is the Executive Officers, meet weekly to discuss policy, issues facing Students at Grey, ideas for improvements and to update each other during Officer’s reports. The Core Executive also discuss feedback sent in using the <a href="/services/feedback">Feedback System</a> in order to react to relevant issues as they arise. These are open to all JCR Members, if you want to sit in on an Executive meeting, you can!
				div(class="ui six doubling link cards")
					each role in exec
						each user in role.users
							a(class="card" href="/jcr/blog/"+role.slug)
								div(class="image")
									img(src="/api/users/"+user.username+"/avatar")
								div(class="content")
									div(class="header")= role.title
									div(class="meta")=user.name

			div(class="ui vertical segment" id="officers")
				h3(class="ui header") JCR Officers
				div(class="ui six doubling link cards")
					each role in officers
						each user in role.users
							div(class="card" data-role=role.id)
								div(class="image")
									img(src="/api/users/"+user.username+"/avatar")
								div(class="content")
									div(class="header")= role.title
									div(class="meta")=user.name

			div(class="ui vertical segment" id="hlms")
				h3(class="ui header") Honorary Life Memberships
				p Honorary Life Memberships (or HLMs) are the highest accolade that you can receive for services to Grey JCR. Students in their final year who have made an exceptional contribution to the JCR may be awarded the HLM, with a maximum of eight students receiving the award in any one year. Receiving an HLM grants you access to all the privileges of any JCR member (excluding voting rights). HLMs are often awarded to students by the JCR President during the Phoenix Ball at the end of the year, however can be awarded throughout the year, and to staff members.

		div(class="ui modal")
			div(class="header") President
			div(class="content")
				p The President is a sabbatical officer, employed by the college to oversee the JCR and ensure it runs properly.
				p Their main role is to act as a representative of the JCR to other bodies, such as the SCR, College and the wider University as well as external bodies should the need arise. To this end they sit on a number of University Committees as well as Grey College Council. They are also Ex-Offico members of all the committees in the College and the JCR and sit on them when required.
				p A few more particular duties include performing the First Year Room Ballot with the Assistant Senior Tutor, organising college parenting, organising Burst the Bubble Trips and the prestigious President's Guest Night, a large dinner-dance during Epiphany Term.
			div(class="actions")
				div(class="ui ok button") Done

		script.
			$("#officers .card").click(function (e) {
				e.preventDefault();
				role_id = $(this).attr('data-role');
				$.get('/api/roles/'+role_id, function (data) {
					$('.ui.modal .header').text(data.title);
					$('.ui.modal .content').text(data.description);
					$('.ui.modal').modal('show');
				});
			});


		include ../footer.pug
