- var title = 'Freshers'

doctype html
html
  head
    include ../head.pug
    style(type="text/css").
      .smcx-widget {
        margin: 100px auto 50px auto !important;
      }
  body
    div(id="main-menu" data-username=(user && user.username) data-admin=(user && (user.level > 3).toString()))
    div(class='ui container')
      h2(class='ui header')= title

      h3 Fancy Dress Themes
      p Have a look at these possible themes and then vote on up to 4 which you would like to see happen!

      h4 Subject Social
      p
        | A great way to scope out the people on your course or in your department.
        | You’ll be split up depending on what you are coming to study.
        | If you want to avoid walking into the dreaded lecture hall without someone to sit with from Grey,
        | get on board with this one. Each subject will have its own fairly relevant and recognisable theme.

      h4 Block Party
      p
        | Defend your Grey Accommodation block as the best place to be living in college and
        | meet the people on the other corridors. Each block will be assigned a different theme
        | for the evening so make yourself recognisable.

      h4 Disney
      p
        | Need we say more? This is an absolute classic. Don’t try to kid yourself, you know you love it.
        | Disney is life. Even with such a huge selection of characters,
        | I bet you still all dress as Simba; Freshers never change.

      h4 Hunt or Be Hunted
      p
        | For this theme you get to pick a side. You can pick any animal you fancy
        | and get working on an outfit, or side with the hunters and sport the camouflage and khaki.
        | Team up or work alone, it's entirely up to you.

      h4 When I Grow Up I Want To Be...
      p
        | Remember when you were a kid without a care in the world and now you have a degree and stuff to do…
        | Well, you are only freshers so throw it back to when you were young and show off what you dreamed of.
        | From police officers to ballet dancers everyone wanted to be something.
        | No doubt there will be some weird choices out there.

      h4 Toga
      p
        | Party like the Ancient Romans and get your Togas out (bed sheets make good Togas -
        | don’t go buy one especially). It’s an absolute classic of a Freshers week and I bet you were all
        | expecting one anyway, so get on board and turn Grey into what will inevitably look like an American frat party.

      h4 Carnival
      p
        | Carnivals are without a doubt one of the most fun events you can go to, so bring the carnival to the college.
        | Great vibes, great tunes. Don the colourful garments, put the effort in and show that we aren’t
        | so Grey by name and grey by nature after all.

      h4 1920's Speakeasy
      p
        | This one always looks cool. Get on board with this Greyt Gatsby style evening with the
        | opportunity to explore the fashion and music from the amazing period of time.
        | Being old this will genuinely feel like a Bugsy Malone remake –
        | are you all too young to know what that is?

      h4 1980's
      p
        | Undoubtedly one of the best decades for music so this theme should be an absolute belter
        | for the tunes alone. With all the classic movies, artists and styles there’s so much you can do for this.
        | After a few the bar floor also makes a good breakdance arena so make some really bad choices and
        | get a name for yourself in Freshers’ week. I know at least one of you can do the worm.

      h4 College Colours
      p
        | Grey by name, not by nature. Or college colours apparently. We actually don red and black to show our pride!

      h4 Superheroes and Villains
      p
        | Batman and Robin. Rocket and Groot. A Durham student and hummus. All strong partnerships.
        | Put on your capes and prepare to fight crime. Or if you prefer the works of the Joker,
        | Lex Luthor or all of them Marvel villains over the past few years, start hatching your evil plans and
        | bring havoc to the tranquil streets of Durham.

      <script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd9iDzbioIAHT_2FQKkECYA1osPiZhL_2FPg_2BYvIBJXXnPKZN.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your own user feedback survey </a>

      include ../footer.pug
