- var title = 'Elections'

doctype html
html
	head
		include ../head.pug
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			h2(class="ui header")
				= title
				div(class="sub header")= election.name
			if (user_vote == null)
				p Please allocate your vote by numerical preference, i.e. <b>1</b> for your most preferred candidate, <b>2</b> for your second most preferred, etc.
				p Any non-numerical allocation will be ignored.
				p Please note that <b>R.O.N.</b> stands for <b>Re-Open Nominations</b>. If you are not happy with any of the candidates running, you may vote <b>R.O.N.</b> in order to re-open nominations for the position in the next JCR Meeting.
			else if ("success" in query)
				div(class="ui positive icon message")
					i(class="close icon")
					i(class="checkmark box icon")
					div(class="content")
						div(class="header") Vote cast!
						p Please check your vote below.
				script.
					$('.message .close').on('click', function() {
						$(this).closest('.message').transition('fade');
					});
			else 
				p You have already voted in this election. Your votes are listed below.
			div(class="ui vertical segment")
				if (user_vote == null)
					form(class="ui form" action="/services/elections/"+election.id method="POST")
						each position in election.positions
							h4(class="ui dividing header")= position.name
							input(type="text" name="ballot["+position.id+"][position_id]" value=position.id hidden)
							div(class="ui middle aligned two column stackable vertically divided grid")
								each nominee in position.nominees
									input(type="text" name="ballot["+position.id+"][votes]["+nominee.id+"][nominee_id]" value=nominee.id hidden)
									div(class="row")
										div(class="column")
											label= nominee.name
										div(class="column")
											div(class="ui input")
												input(type="text" name="ballot["+position.id+"][votes]["+nominee.id+"][preference]" size="1")
						div(class="inline field")
							div(class="ui checkbox")
								input(type="checkbox" name="confirm")
								label I verify that my vote is correct and understand that I will be unable to change my vote once it has been cast
						button(type="submit" class="ui primary submit button") Submit
						div(class="ui error message")

					script.
						$(".form").form({
							fields: {
								confirm : {
									identifier: 'confirm',
									rules: [
										{
											type: 'checked',
											prompt: 'You must confirm your vote'
										}
									]
								}
							}
						})
				else
					each position in election.positions
						h4(class="ui dividing header")= position.name
						div(class="ui middle aligned two column stackable vertically divided grid")
							each nominee in position.nominees
								div(class="row")
									div(class="column")
										label= nominee.name
									div(class="column")
										if (user_vote[nominee.id])
											div(class="ui circular label")= user_vote[nominee.id]
										else
											div(class="ui circular label")
				
		include ../footer.pug
