- var title = 'Elections'

doctype html
html
	head
		include ../head.jade
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			h2(class="ui header")
				= title
				div(class="sub header")= election.title
			if (!voted)
				p Please allocate your vote by numerical preference, i.e. <b>1</b> for your most preferred candidate, <b>2</b> for your second most preferred, etc.
				p Any non-numerical allocation will be ignored.
				p Please note that <b>R.O.N.</b> stands for <b>Re-Open Nominations</b>. If you are not happy with any of the candidates running, you may vote <b>R.O.N.</b> in order to re-open nominations for the position in the next JCR Meeting.
			else 
				p You have already voted in this election. Your votes are listed below.
			div(class="ui vertical segment")
				if (!voted)
					form(class="ui form" action="/services/elections/"+election.id method="POST")
						- var i = 0;
						- while (i<nominations.length)
							- // We write the position name
							h4(class="ui dividing header")= nominations[i].position_name
							- // Set the current position
							- var currentPosition = nominations[i].position_id;
							- // While we're on the current position
							div(class="ui middle aligned two column stackable vertically divided grid")
								- while (i<nominations.length && currentPosition == nominations[i].position_id)
									div(class="row")
										div(class="column")
											label= nominations[i].name
										div(class="column")
											div(class="ui input")
												input(type="text" name='candidates[c'+nominations[i].id+']' size="1")
									- i++
						div(class="inline field")
							div(class="ui checkbox")
								input(type="checkbox" name="confirm")
								label I verify that my vote is correct and understand that I will be unable to change my vote once it has been cast
						button(type="submit" class="ui primary submit button") Submit
						div(class="ui error message")

					script.
						$(".form").form({
							fields: {
								confirm : {
									identifier: 'confirm',
									rules: [
										{
											type: 'checked',
											prompt: 'You must confirm your vote'
										}
									]
								}
							}
						})
				else
					- var i = 0;
					- while (i<nominations.length)
						- // We write the position name
						h4(class="ui dividing header")= nominations[i].position_name
						- // Set the current position
						- var currentPosition = nominations[i].position_id;
						- // While we're on the current position
						div(class="ui middle aligned two column stackable vertically divided grid")
							- while (i<nominations.length && currentPosition == nominations[i].position_id)
								div(class="row")
									div(class="column")
										label= nominations[i].name
									div(class="column")
										if (nominations[i].value != 0)
											div(class="ui circular label")=nominations[i].value
										else
											div(class="ui circular label")
								- i++
				
		include ../footer.jade