- var title = 'Room Booking'

doctype html
html
	head
		include ../head.pug
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			h2= title
			div(class="ui secondary rooms menu")
				for room in rooms
					a(class="item" data-tab=room.id)= room.name

			for room in rooms
				div(class="ui vertical tab segment" data-tab=room.id)
					p= room.description
					h3 Bookings
					table(class="ui eight column definition celled table")
						thead
							tr
								th
								th Sunday - #{week_start.getDate()}/#{week_start.getMonth()+1}
								th Monday
								th Tuesday
								th Wednesday
								th Thursday
								th Friday
								th Saturday
						tbody
							- findSlot = function(date) {return (2*date.getHours() + date.getMinutes()/30)};
							- for (slot=18; slot<44; slot++)
								tr
									td= Math.floor(slot/2) + ':' + ("0"+(slot%2 * 30)).slice(-2)
									for day_bookings in room.bookings
										if (day_bookings.length > 0 && findSlot(day_bookings[0].start_time) == slot)
											if (!day_bookings[0].started)
												td(rowspan=(day_bookings[0].duration/30) class="negative")= day_bookings[0].name
												- day_bookings[0].started = true;

											if (day_bookings[0].duration == 30)
												- day_bookings.shift()
											else
												- day_bookings[0].duration -= 30;
												- day_bookings[0].start_time = new Date(day_bookings[0].start_time.getTime() + 30*60*1000);
										else
											td

			script.
				if (location.hash == "") {location.hash = #{rooms[0].id}}
				$('[data-tab='+(location.hash).substring(1)+']').addClass("active");
				$('.rooms.menu .item').tab({
					onLoad: function(tabPath, parameterArray, historyEvent) {location.hash = tabPath}
				});


		include ../footer.pug
