- var title = 'Room Booking'

doctype html
html
	head
		include ../head.pug
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			h2= title
			div(class="ui top attached tabular rooms menu")
				for room in rooms
					a(class="item" data-tab=room.id)= room.name

			for room in rooms
				div(class="ui bottom attached tab segment" data-tab=room.id)
					p= room.description
					h3 Accepted Bookings
					table(class="ui eight column definition celled table")
						thead
							tr
								th
								th Sunday - #{week_start.getDate()}/#{week_start.getMonth()+1}
								th Monday
								th Tuesday
								th Wednesday
								th Thursday
								th Friday
								th Saturday
						tbody
							- findSlot = function(date) {return (2*date.getHours() + date.getMinutes()/30)};
							- for (slot=18; slot<44; slot++)
								tr
									td= Math.floor(slot/2) + ':' + ("0"+(slot%2 * 30)).slice(-2)
									for day_bookings in room.bookings
										if (day_bookings.length > 0 && findSlot(day_bookings[0].start_time) == slot)
											if (!day_bookings[0].started)
												td(rowspan=(day_bookings[0].duration/30) class="negative")= day_bookings[0].name
												- day_bookings[0].started = true;

											if (day_bookings[0].duration == 30)
												- day_bookings.shift()
											else
												- day_bookings[0].duration -= 30;
												- day_bookings[0].start_time = new Date(day_bookings[0].start_time.getTime() + 30*60*1000);
										else
											td

					- week_offset = (query.week_offset) ? parseInt(query.week_offset) : 0
					a(class="ui button" href="/services/rooms/?week_offset="+(week_offset-1)+"#"+room.id)
						i(class="left arrow icon")
						| Previous Week

					a(class="ui right floated button" href="/services/rooms/?week_offset="+(week_offset+1)+"#"+room.id)
						| Next Week
						i(class="right arrow icon")

					h3 Request Booking
					p You can request a room booking using the below form. Your request will then be either accepted or rejected by the services manager. Please note your booking will not show up on the above timetable until your request has been accepted.
					form(class="ui form" method="POST" action="/services/rooms/"+room.id+"/bookings")
						div(class="field")
							label Name
							input(type="text" name="name")
						div(class="field")
							label Date
							input(type="text" name="date" value=(new Date()).getDate() + "-"+((new Date()).getMonth() + 1)+"-"+(new Date()).getFullYear())
						div(class="two fields")
							div(class="field")
								label Start Time
								select(class="ui dropdown" name="start")
									- for (i=18; i<44; i++)
										option(value=Math.floor(i/2) + ':' + ("0"+(i%2 * 30)).slice(-2))= Math.floor(i/2) + ':' + ("0"+(i%2 * 30)).slice(-2)
							div(class="field")
								label End Time
								select(class="ui dropdown" name="end")
									- for (i=19; i<45; i++)
										option(value=(i*30))= Math.floor(i/2) + ':' + ("0"+(i%2 * 30)).slice(-2)
						button(class="ui submit button" type="submit")
							i(class="write icon")
							| Create
						div(class="ui error message")

					script.
						$(".dropdown").dropdown();
						$('.form').form({
							fields: {
								name: 'empty',
								date: 'regExp[/(0?[1-9]|[12][0-9]|3[01])[-](0?[1-9]|1[0-2])[-](19|20|21)[0-9]{2}/ig]'
							}
						});

					h3 My Bookings
					table(class="ui fixed table")
						thead
							tr
								th Name
								th Start
								th Duration
								th Actions
						tbody
							each booking in room.user_bookings
								tr
									td
										if (booking.status == 0)
											div(class="ui horizontal label")
												i(class="minus circle icon")
												| Pending
										if (booking.status == 1)
											div(class="ui horizontal green label")
												i(class="check circle icon")
												| Accepted
										if (booking.status == 2)
											div(class="ui horizontal red label")
												i(class="remove circle icon")
												| Rejected
										= booking.name
									td= booking.start_time
									td= booking.duration
									td
										a(class="ui negative button" href="/services/rooms/"+room.id+"/bookings/"+booking.id+"/delete" onclick="return confirm('Are you sure you want to cancel this booking?');")
											i(class="remove icon")
											| Cancel

			div(Class="ui basic segment")

			script.
				if (location.hash == "") {location.hash = #{rooms[0].id}}
				$('[data-tab='+(location.hash).substring(1)+']').addClass("active");
				$('.rooms.menu .item').tab({
					onLoad: function(tabPath, parameterArray, historyEvent) {location.hash = tabPath}
				});


		include ../footer.pug
