- var title = 'Blog - ' + blog.title

doctype html
html
	head
		include ../head.pug
		meta(property="og:url" content="https://greyjcr.com/jcr/blog/"+blog.role.slug+"/"+blog.permalink)
		meta(property="og:type" content="article")
		meta(property="og:title" content=blog.title)
		meta(property="og:description" content="By "+blog.author.name+" ("+blog.role.title+")")
		meta(property="og:image" content="https://greyjcr.com/api/users/"+blog.author.username+"/avatar")
		meta(property="fb:app_id" content="634847773365124")
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			div(class="ui vertical segment items")
				div(class="item")
					div(class="ui tiny image")
						img(src="/api/users/"+blog.author.username+"/avatar")
					div(class="content")
						div(class="header")= blog.title
						div(class="meta")
							span(class="author")
								i(class="ui user icon")
								= blog.author.name + " ("+blog.role.title+")"
							span(class="timestamp")
								i(class="ui clock icon")
								| #{prettydate.format(blog.updated)}
						div(class="article description")!= blog.message
						div(class="extra")
							a(class="ui mini facebook share button" data-href="https://greyjcr.com/jcr/blog/"+blog.role.slug+"/"+blog.permalink)
								i(class="facebook icon")
								| Share
							if (user)
								i(class=(blog.hearts.indexOf(user.username) == -1)?"blog like icon":"active blog like icon" data-blog_id=blog.id)
								span(class="blog likes")= blog.hearts.length + 2
								| likes


			script.
				$('.item .blog.like.icon')
					.api({
						url: '/api/blogs/{blog_id}/like'
					})
					.state({
						onActivate: function() {
							var current_count = parseInt($(this).next().text());
							$(this).next().text(current_count + 1);
						},
						onDeactivate: function() {
							var current_count = parseInt($(this).next().text());
							$(this).next().text(current_count - 1);
						}
					});

			script.
				window.fbAsyncInit = function() {
					FB.init({
						appId      : '634847773365124',
						version    : 'v2.8'
					});
				};

				(function(d, s, id){
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

				$('.facebook.share.button').click(function() {
					FB.ui({
						method: 'share',
						display: 'popup',
						href: this.getAttribute("data-href"),
					}, function(response){
						console.log(response)
					});
				})

		include ../footer.pug
