- var title = 'News'

doctype html
html
	head
		include ../head.pug
		script(src="/javascripts/vue.js")
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			div(class="ui vertical segment")
				h2= title
				div(class="ui divided items")
					each blog in blogs
						div(class="item")
							div(class="content")
								a(class="header" href="/jcr/blog/"+blog.role.slug+"/"+blog.permalink)= blog.title
								div(class="meta")
									span(class="author")
										i(class="ui user icon")
										| #{blog.author.name} (#{blog.role.title})
									span(class="timestamp")
										i(class="ui clock icon")
										| #{prettydate.format(blog.updated)}
								div(class="article description")!= blog.message
								div(class="extra")
									if (user)
										i(class=(blog.hearts.indexOf(user.username) == -1)?"blog like icon":"active blog like icon" data-blog_id=blog.id)
										span(class="blog likes")= blog.hearts.length + 2
										| likes


			script.
				$('.item .blog.like.icon')
					.api({
						url: '/api/blogs/{blog_id}/like'
					})
					.state({
						onActivate: function() {
							var current_count = parseInt($(this).next().text());
							$(this).next().text(current_count + 1);
						},
						onDeactivate: function() {
							var current_count = parseInt($(this).next().text());
							$(this).next().text(current_count - 1);
						}
					});

		include ../footer.pug
