- var title = 'News'

doctype html
html
	head
		include ../head.pug
		script(src="/javascripts/vue.js")
	body
		div(class='ui container')
			include ../header.pug
			include ../menu.pug
			div(class="ui vertical segment")
				h2= title

				div(class="ui filter menu")
					div(class="item") Filter By:
					div(class="ui dropdown item")
						input(type="hidden" name="filters")
						if (!filters.role_id)
							span(class="text") Position
						each role in roles
							if (role.id == filters.role_id)
								span(class="text"): b #{role.title}
						div(class="menu")
							div(class="ui icon search input")
								i(class="search icon")
								input(type="text" placeholder="Search Positions...")
							div(class="scrolling menu")
								- base_url = (filters.month && filters.year) ? "/jcr/blog?year="+filters.year+"&month="+filters.month: "/jcr/blog?"
								a(class=(!filters.role_id)?"active item":"item" href=base_url) Any
								each role in roles
									a(class=(filters.role_id==role.id)?"active item":"item" href=base_url+"&role_id="+role.id)= role.title

					- months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
					div(class="ui dropdown item")
						if (!filters.year || !filters.month)
							span(class="text") Year and Month
						else
							span(class="text"): b #{months[filters.month-1]} #{filters.year}
						div(class="menu")
							- base_url = (filters.role_id) ? "/jcr/blog?role_id="+filters.role_id: "/jcr/blog?"
							a(class=(!filters.month || !filters.year)?"active item":"item" href=base_url) Any
							- for (y = (new Date()).getFullYear(); y>2015; y--)
								div(class="item")
									i(class="dropdown icon")
									span(class="text")= y
									div(class="menu")
										- for (m=0; m<12; m++)
											a(class=(filters.month==(m+1) && filters.year==y)?"active item":"item" href=base_url+"&year="+y+"&month="+(m+1))= months[m]


				div(class="ui divided items")
					each blog in blogs
						div(class="item")
							div(class="ui tiny image")
								img(src="/api/users/"+blog.author.username+"/avatar")
							div(class="content")
								a(class="header" href="/jcr/blog/"+blog.role.slug+"/"+blog.permalink)= blog.title
								div(class="meta")
									span(class="author")
										i(class="ui user icon")
										| #{blog.author.name} (#{blog.role.title})
									span(class="timestamp")
										i(class="ui clock icon")
										| #{prettydate.format(blog.updated)}
								div(class="article description")!= blog.message
								div(class="extra")
									if (user)
										i(class=(blog.hearts.indexOf(user.username) == -1)?"blog like icon":"active blog like icon" data-blog_id=blog.id)
										span(class="blog likes")= blog.hearts.length + 2
										| likes

				div(class="ui pagination menu")
					a(class=(page<=1)?"disabled item":"item" href="/jcr/blog?page="+(page-1)) Prev
					div(class="item") #{page} of #{total_pages}
					a(class=(page==total_pages)?"disabled item":"item" href="/jcr/blog?page="+(page+1)) Next



			script.
				$('.filter.menu .dropdown').dropdown();

				$('.item .blog.like.icon')
					.api({
						url: '/api/blogs/{blog_id}/like'
					})
					.state({
						onActivate: function() {
							var current_count = parseInt($(this).next().text());
							$(this).next().text(current_count + 1);
						},
						onDeactivate: function() {
							var current_count = parseInt($(this).next().text());
							$(this).next().text(current_count - 1);
						}
					});

		include ../footer.pug
