- var title = 'Profile'

doctype html
html
	head
		include ../head.jade
		script(src="/javascripts/vue.js")
	body
		div(class='ui container')
			include ../header.jade
			include ../menu.jade
			div(class="ui divided stackable vertically padded grid")
				div(class="five wide column")
					h3(class="ui dividing header")= role.title
					p= role.description
					h3(class="ui dividing header") Files
					div(class="ui directory list")

					script.
						var parent = 0;
						var current = !{folder.id};
						function getFiles(dirId) {
							$('.directory.list').parent().addClass("loading");
							$('.directory.list').html("");
							$.get('/api/files/'+dirId, function (data) {
								$('.directory.list').parent().removeClass("loading");
								current = data.current;
								if (current.parent_id != 0) {
									$('.directory.list').append(
										"<a class='directory item' data-id="+current.parent_id+"><i class='level up icon'></i><div class='content'><div class='header'>Up a level</div></div>"
									);
								}
								for (i=0; i<data.folders.length; i++) {
									$('.directory.list').append(
										"<a class='directory item' data-id="+data.folders[i].id+"><i class='folder icon'></i><div class='content'><div class='header'>"+data.folders[i].name+"</div></div>"
									);
								}
								for (i=0; i<data.files.length; i++) {
									$('.directory.list').append(
										"<a href='/files/uploaded/"+data.files[i].path+"' class='item'><i class='file icon'></i><div class='content'><div class='header'>"+data.files[i].name+"</div>"+((data.files[i].description)?"<div class='description'>"+data.files[i].description+"</div>":"")+"</div>"
									);
								}
							});
						}
						$(document).on("click",".directory.item" ,function (e){
							e.preventDefault();
							parent = current;
							getFiles($(this).attr("data-id"));
						})
						getFiles(current);

				div(class="eleven wide column" id="blog")
					h3(class="ui header") Recent Posts
					div(class="ui divided items")
						each blog in blogs
							div(class="item")
								div(class="content")
									a(class="header" href=blog.permalink)= blog.title
									div(class="meta")
										span(class="author")
											i(class="ui user icon")
											| #{blog.author.name} (#{role.title})
										span(class="timestamp")
											i(class="ui clock icon")
											| #{blog.updated}
									div(class="article description")!= blog.message

		include ../footer.jade
